<% cache recent_feedbacks do %>
<ul class="recent_feedbacks">
	<% recent_feedbacks.each_with_index do |feedback, index| %>
	<li>
		<%= link_to "#{index + 1}ã€" + truncate(feedback.content), cpanel_feedback_path(feedback) %>
		<span class="pull-right"><%= feedback.created_at.strftime('%Y-%m-%d %H:%M:%S') %></span>
	</li>
	<% end %>
</ul>
<% end %>