<div class="row">
	<div class="span12">
		<h3>用户反馈</h3>
		<div class="pagination-right"><%= will_paginate @feedbacks, previous_label: '上一页', next_label: '下一页' %></div>
		<table class="table table-hover">
			<thead>
				<tr>
		      <th>ID</th>
					<th>Email</th>
		      <th>Content</th>
		      <th>App Name</th>
		      <th>Created At</th>
					<th>Action</th>
	      </tr>
			</thead>
			<tbody>
				<%= render @feedbacks %>
			</tbody>
		</table>
		<div class="pagination-right"><%= will_paginate @feedbacks, previous_label: '上一页', next_label: '下一页' %></div>
	</div>
</div>