
<div class="row">
	<h3 class="span3">应用列表</h3>
	<div class="span3 offset6">
		<%= link_to '新建应用信息', new_cpanel_app_info_path, class: 'pull-right btn btn-success btn-large' %>
	</div>
</div>

<div class="row">
	<div class="span12">
		<table class="table table-hover">
			<thead>
				<tr>
		      <th>应用名</th>
		      <th>应用简介</th>
		      <th>应用商店地址</th>
					<th>创建日期</th>
					<th>操作</th>
	      </tr>
			</thead>
			<tbody>
				<%= render @app_infos %>
			</tbody>
		</table>
	</div>
</div>

