/*
 *= require application
 *= require_self
 */

body {
	padding-top: 80px;
}
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

ul {
	list-style: none;
}

.recent {
	border: 1px solid #aaa;
	h3 {
		font-size: 14px;
		margin: 0;
		padding-left: 10px;
		background: #085a87;
		color: white;
		height: 30px;
		line-height:30px;
	}
	ul {
		width: 95%;
		margin: 0 auto;
		margin-top: 5px;
		li {
			border-bottom: 1px dashed #085a87;
			padding: 5px 0;
			img {
				width: 40px;
				height: 40px;
				border-radius: 8px;
				-webkit-border-radius: 8px;
				-moz-border-radius: 8px;
				border: 1px solid #ccc;
			}
			
		}
	}
	
}

.center {
	text-align: center;
}
.law-detail {
	.law-title {
		font-size: 18px;
	}
	.law-catalog {
		margin: 40px 0 20px 40px;
	}
}

#footer {
	margin-top: 20px;
	padding: 20px 0;
	background: #eee;
	&:after {
		background: #eee;
		content: "";
		position:fixed;
		width:100%;
		height:100%;
	}
}