body {
	padding-top: 60px;
	background: #dcdac6;
}

body, p, li {
	font: bold 12px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
}

a img {
	border: none;
}

a {
	outline: none;
	color: #000;
	text-decoration: none;
}

.app-list li {
	list-style-type: none;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f1e6));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: 10px;
	padding: 10px 10px 10px 77px;
	position: relative;
	min-height: 57px;
	/*border: 2px #940056 solid;*/
	box-shadow: 2px 2px 6px #8d8c7f;
	
	img {
		position: absolute;
		left: 10px;
		top: 10px;
		width: 57px;
		height: 57px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		box-shadow: 0 1px 0 #fefcfe;
	}
	
	p {
		font-size: 16px;
		line-height: 18px;
		color: #fd7700;
		
		em {
			margin-top: 5px;
			display: block;
			font: normal 11px/14px "Trebuchet MS", Arial, Helvetica, sans-serif;
			color: #000;
		}
	}
} 
