<div class="row">
	<div class="span9">
		<h3>所有的法律数据</h3>
	</div>
	<div class="span3">
		<%= link_to '新增法律条文', new_cpanel_law_detail_path, :class => 'btn btn-info pull-right' %>
	</div>
</div>
<div class="row">
	<div class="span12">
		<div class="pagination-right"><%= will_paginate @law_details, previous_label: '上一页', next_label: '下一页' %></div>
		<table class="table table-hover">
			<thead>
				<tr>
		      <th>ID</th>
		      <th>Title</th>
		      <th>DB</th>
					<th>Version</th>
					<th>Category</th>
					<th>App</th>
					<th>UDID</th>
					<th>Operation</th>
					<th>Created at</th>
					<th>Actions</th>
	      </tr>
			</thead>
			<tbody>
				<%= render @law_details %>
			</tbody>
		</table>
		<div class="pagination-right"><%= will_paginate @law_details, previous_label: '上一页', next_label: '下一页' %></div>
	</div>
</div>
