<div class="row">
	<div class="span8">
		<h4>Recent Newsblasts</h4>
		<ul>
			<% @recent_newsblasts.each do |newsblast| %>
				<li>
					<p><%= link_to newsblast.title, cpanel_newsblast_path(newsblast) %></p>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="span4">
		<h4>Recent Newsblasts</h4>
		<dl class="dl-horizontal">
			<% @recent_app_infos.each do |app_info| %>
				<dt><%= image_tag app_info.image_url(:thumb)%></dt>
				<dd><h5><%= app_info.title %></h5></dd>
				<dd><p><%= app_info.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p></dd>
			<% end %>
		</dl>
	</div>
</div>

