<div class="row">
	<div class="span8">
		<h4>Recent News Blasts</h4>
		<ul>
			<% @recent_news_blasts.each do |news_blast| %>
				<li>
					<p><%= link_to news_blast.title, cpanel_news_blast_path(news_blast) %></p>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="span4">
		<h4>Recent Newsblasts</h4>
	</div>
</div>

