<div class="row-fluid">
	<div class="recent span9">
		<h3>最新反馈</h3>
		<% if @recent_feedbacks.empty? %>
			<p class="muted no-message">没有可以显示的内容</p>
		<% else %>
			<%= render :partial => 'cpanel/feedbacks/recent_feedbacks', 
							 	 :locals => { recent_feedbacks: @recent_feedbacks } %>
		<% end %>
	</div>
	<div class="recent span3">
		<h3>最新应用</h3>
		<%= render(:partial => 'cpanel/app_infos/recent_app_infos',
			 				 :locals => { recent_app_infos: @recent_app_infos }) %>
	</div>
	
</div>