<footer id="footer">
	<div class="container">
		<p class="pull-right">&copy; <%= Date.current.year %> kekestudio.com</p>
		<p class="pull-left"><a href="mailto:kekestudio@163.com">联系我们</a></p>
	</div>
</footer>