<!DOCTYPE html>
<html>
<head>
  <title>apps</title>
<<<<<<< HEAD
=======
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
>>>>>>> b38ed4179a3d7bf2dd826a2ba337a6c83f029f19
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
